@use "./base.scss";

// put your custom CSS here!

.profile-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.container {
  background-color: "#F2F9FF";
  display: flex;
  flex-direction: row;
  line-height: 1rem;
  gap: 40px;
  font-size: small;
  border-radius: 30px;
  padding-bottom: 50px;
}

img.profile {
    border-radius: 50%;
    width: 200px;
    height: 160px;
    border: 5px solid #317CC0;
}

.app-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.app-text-wrap {
    width: 100%;
}

img.logo {
  max-width: 180px;
}

p, li { 
    line-height: 1rem;
}